{:pidfile-name  "supervision.pid"
 ;; iop
 :redis-host  "127.0.0.1"
 :redis-port  6379
 ;; scheduler/schedule
 :interval-normal        10000
 :interval-early-warning 5000
 :interval-unavailable   20000}
