{:pidfile-name  "supervision.pid"
 ;; iop
 :redis-host    "10.162.212.222"
 :redis-port    7963
 ;; scheduler/schedule
 :interval-normal        60000
 :interval-early-warning 30000
 :interval-unavailable   120000}
