<div class="panel-body">
	<form id="institutionForm" class="form-horizontal">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="col-sm-4 control-label">保险公司名称:</label>
					<div class="col-sm-7">
						<input type="text" class="form-control tideInstitutionAdd required" name="institutionName" placeholder="请输入">
						<input type="text" class="hidden" placeholder="请输入">
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="col-sm-4 control-label">备注（可选）:</label>
					<div class="col-sm-7">
						<textarea type="text" class="form-control tideDescriptionAdd" placeholder="请输入"> </textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript" src="../../libs/jquery-validation-1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="../../libs/jquery-validation-1.14.0/messages_zh.js"></script>