<div class="panel">
    <div class="panel-body">
        <form id="rebateEditForm" class="form-horizontal">
            <div class="row">
                <input type="hidden" id="id">
                <input type="hidden" id="version">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">合约名称:</label>
                        <div class="col-sm-6">
                            <select name="contractCopy" id="contractCopy" class="form-control required"
                                    style="width: 100%;"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">支持投保城市:</label>
                        <div class="col-sm-6">
                            <select name="supportAreaCopy" id="supportAreaCopy" class="form-control required"
                                    style="width: 100%;"></select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="../../js/tide/tide_rebate_copy.js"></script>
